<br>
<br>

<div class="container">
<h1>Send an E-mail</h1>
<br>


  <form action = "/result" method = "post">
    
    <div class="form-group">
      <label for="exampleFormControlInput1">보내는이</label>
      <input name="text1" type="email" class="form-control" id="exampleFormControlInput1" placeholder="email">
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlInput1">받는이</label>
      <input name="text2" type="email" class="form-control" id="exampleFormControlInput1" placeholder="email">
    </div>
  
     <div class="form-group">
      <label for="exampleFormControlInput1">제목</label>
      <input name="text3" type="text" class="form-control" id="제목" placeholder="text">
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlTextarea1">내용</label>
      <textarea name="text4" class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="blah blah"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">보내기</button>
  </form>
</div>
